---
import experiences from "../collections/experiences.json";
import AboutExperience from "../components/about-experience.astro";
import PageHeading from "../components/page-heading.astro";
import Layout from "../layouts/main.astro";
import educations from "../collections/education.json";
import ParagraphMenu from "../components/paragraphMenu.astro";
import SeparatorG from "../components/separatorGeneric.astro";
import RedirecButton from "../components/redirecButton.astro";
import contentMap from "../collections/contentMap.json";
---

<Layout title="About Me">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="Sobre mí"
      description="Te doy una mirada rápida a mi recorrido como desarrollador y las motivaciones que me impulsan a seguir mejorando cada día en el campo del desarrollo Back-End."
    />

    <img
      src="/assets/images/aboutPersonal.png"
      class="relative z-30 w-full my-10 rounded-xl"
    />

    <ParagraphMenu items={contentMap}/>
    <SeparatorG text="Experiencia" />

    <h2
      class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200"
    >
      Experiencia Profesional
    </h2>
    <div class="px-5 py-10">
      {
        experiences.map((experience, index) => {
          return (
            <>
            
              {index !== experiences.length - 1 ? 
              (
                <div class="pb-10 border-l border-gray-200 dark:border-neutral-700">
                  <AboutExperience
                    dates={experience.dates}
                    role={experience.role}
                    company={experience.company}
                    description={experience.description}
                    logo={experience.logo}
                  />
                </div>
              ) : (
                <div class="pb-10">
                  <AboutExperience
                    dates={experience.dates}
                    role={experience.role}
                    company={experience.company}
                    description={experience.description}
                    logo={experience.logo}
                  />
                </div>
              )}
            </>
          );
        })
      }
    </div>

    <RedirecButton text="VER MI CV" link="/Antonio Canteros.pdf" />

    <SeparatorG text="Estudios" />

    <h2
      class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200"
    >
      Educación
    </h2>
    <div class="px-5 py-10">
      {
        educations.map((education, index) => {
          return (
            <>
              {index !== educations.length - 1 ? (
                <div class="pb-10 border-l border-gray-200 dark:border-neutral-700">
                  <AboutExperience
                    dates={education.dates}
                    role={education.title}
                    company={education.institution}
                    description={education.description}
                    logo={education.logo}
                  />
                </div>
              ) : (
                <div class="pb-10">
                  <AboutExperience
                    dates={education.dates}
                    role={education.title}
                    company={education.institution}
                    description={education.description}
                    logo={education.logo}
                  />
                </div>
              )}
            </>
          );
        })
      }
    </div>

    <script src="/src/assets/js/main.js"></script>
    <script>
      window.addEventListener("DOMContentLoaded", () => {
        (window as any).loadDynamicContent("/src/collections/contentMap.json");
      });
    </script>
  </section>
</Layout>
