---
const { logo, dates, role, company, description, tasks } = Astro.props;
---

<div class="relative flex flex-col justify-start pl-12">
  <div
    class="absolute top-0 left-0 z-40 flex items-center justify-center -translate-x-1/2 bg-white border rounded-full dark:bg-neutral-950 w-14 h-14 border-neutral-300 dark:border-neutral-700"
  >
    <img src={logo} alt={company} class="w-8 h-8" />
  </div>

  <!-- Fechas -->
  <p
    class="text-xs uppercase text-neutral-400 dark:text-neutral-500 tracking-widest mt-1 mb-2"
  >
    {dates}
  </p>

  <!-- Rol -->
  <h3 class="my-2 text-xl font-bold dark:text-neutral-100 text-neutral-900">
    {role}
  </h3>

  <!-- Empresa -->
  <p class="mb-2 text-sm font-medium text-neutral-700 dark:text-neutral-300">
    {company}
  </p>

  <!-- Descripción -->
  <p
    class="mb-4 text-sm font-light text-neutral-600 dark:text-neutral-400 leading-relaxed"
  >
    {description}
  </p>

  <!-- Lista de tareas -->
  {
    tasks && (
      <ul class="mt-4 list-disc list-inside text-neutral-700 dark:text-neutral-400 space-y-3 pl-5">
        {tasks.map((task) => (
          <li class="leading-relaxed">
            <strong class="text-neutral-800 dark:text-neutral-200">
              {task.title}:
            </strong>{" "}
            {task.description}
          </li>
        ))}
      </ul>
    )
  }
</div>
