---
const { name, description, url, image, cta } = Astro.props;
import SeparatorG from "../components/separatorGeneric.astro";
---
<div class="container">
<SeparatorG text={cta} />

<div class="card-container">
  <a href={url} target="_blank">
    <img src={image} alt={name} class="card-img" />

    <div class="card-info">
      <h3>{name}</h3>
      <p>{description}</p>
    </div>
  </a>
</div>

</div>
