---
import Layout from "../../layouts/main.astro";
import Skills from "../../components/skills.astro";
import SeparatorGeneric from "../../components/separatorGeneric.astro";
import ParagraphMenuPP from "../../components/paragraphMenuPP.astro";
import skills from "../../collections/privateSkills.json";

const projectTitle =
  " Aplicación Móvil para Gestión de Estudiantes y Cursos (Proyecto Privado)";
const projectDescription =
  " Este proyecto tiene como objetivo facilitar la gestión de estudiantes, cursos, contenido y notificaciones en una academia de programación, utilizando una arquitectura basada en microservicios.";
---

<Layout title={projectTitle}>
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <h1
      class="text-4xl font-bold leading-tight text-neutral-900 dark:text-neutral-100"
    >
      {projectTitle}
    </h1>
    <p class="mt-8 text-base text-neutral-600 dark:text-neutral-400">
      {projectDescription}
    </p>
    <SeparatorGeneric text="Galeria de Imágenes" />
    <img
      src="/assets/images/projectP/arquitectura.png"
      class="relative z-30 w-full my-10 rounded-xl"
    />
    <SeparatorGeneric text="Principales Características" />

    <ParagraphMenuPP />

    <SeparatorGeneric text="Tecnologías Utilizadas" />

    <Skills
      skills={skills.skills}
      title={skills.title}
      description={skills.description}
    />

    <SeparatorGeneric text="Impacto y Resultados" />

    <h2
      class="mt-8 text-2xl font-semibold leading-8 text-neutral-800 dark:text-neutral-200"
    >
      Impacto y Resultados
    </h2>
    <p class="mt-4 text-base text-neutral-600 dark:text-neutral-400">
      El proyecto no solo ha mejorado la eficiencia en la gestión de
      estudiantes, reduciendo el tiempo necesario para administrar datos, sino
      que también ha optimizado varios procesos clave en la academia. La
      integración de microservicios ha permitido una escalabilidad fluida a
      medida que el número de usuarios ha crecido, asegurando que el sistema
      pueda manejar una mayor carga sin comprometer el rendimiento.
    </p>
    <p class="mt-4 text-base text-neutral-600 dark:text-neutral-400">
      Además, el sistema de notificaciones automáticas ha mejorado
      significativamente la comunicación entre instructores y estudiantes,
      proporcionando actualizaciones en tiempo real sobre tareas, evaluaciones y
      eventos importantes. Gracias a la automatización de estos procesos, se ha
      reducido la carga administrativa, permitiendo a los instructores centrarse
      más en la enseñanza y menos en la gestión manual. Esto ha incrementado la
      satisfacción tanto del cuerpo docente como de los alumnos, reflejándose en
      una mejora de la experiencia educativa en general.
    </p>
  </section>
  <script src="/src/assets/js/main.js"></script>
  <script>
    window.addEventListener("DOMContentLoaded", () => {
      (window as any).loadDynamicContent("/src/collections/contentMapPP.json");
    });
  </script>
</Layout>
